<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>column</title>
</head>
<body>
    <script src="../d3/d3.min.js", charset="utf-8"></script>
    <script>
        var width = 600;
        var height = 600;
        var svg = d3.select("body").append("svg")
                .attr("width",width)
                .attr("heiht",height);

        var dataset = [30,20,45,12,21];

        svg.selectAll('rect')
                .data(dataset)
                .enter()
                .append('rect')
                .attr('x',10)
                .attr('y',function(d,i){
                    return i*30;
                })
                .attr('width',function(d,i){
                    return d*10
                })
                .attr('height',28)
                .attr('fill','red');
        
    </script>

</body>
</html>